/* Screens */
@import url(reset.css);

h3 {
    padding: 7px 0;
    font-size: large;
    font-weight: 700;
}

h4 {
    padding: 7px 0;
}


/* main */

.wrap {
    margin: 2% 0 1% 0;
    padding: 0 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-items: flex-start;


    position: absolute;
    white-space: nowrap;
    overflow: hidden;

}

/* main - left */
.hleft {
    width: 220px;
    border: 2px solid #DDD;
    margin-right: 5px;
    padding: 0 0 300px 0;
    /* position: fixed; */
}

.hleft-title {
    height: 130px;
    padding: 15px;
    font-weight: bolder;
    font-size: 1.3em;
    color: white;
    text-align: center;
    border-bottom: 1px solid #EEE;
    background: url("https://www.yc.go.kr/common/img/common/bg_snb_tit.gif");
}

.hleft-items {
    font-weight: bold;
    list-style-type: none;
}

.hleft-items > li {
    border-bottom: 1.5px solid var(--side-menu-underline-color);
    font-size: 0.9em;
}

.hleft-items > li > a {
    color: black;
    display: block;
    padding: 18px;
}

.hleft-items > li > a:focus, #focus{
    color: white !important;
    background-color: var(--side-menu-color);
}

a {
    text-decoration: none;
}

/* main - right */

.hright {
    float: left;
    width: 710px;
    border: 2px solid #DDD;
    padding: 15px;
    /* position: fixed; */
}

.content {
    border: 1px solid #baced7;
    margin-bottom: 15px;
    padding: 20px;
    margin: 10px 0 20px 0;
}

.table-header {
    padding-bottom: 100px;
    border-top: 2px solid #ABC7DD;
}

.table-header tr {
    border-bottom: 1px solid #ABC7DD;
}


.table-header th {
    background-color: #E3EBF2;
    padding: 2px 3px 2px 3px;
    font-weight: 600;
    font-size: 13px;
    height: 32px;
    color: #336699;
    text-align: center;
    vertical-align:middle;
}

.table-header td {
    background-color: white;
    padding: 2px 3px 2px 3px;
    font-weight: 600;
    font-size: 13px;
    height: 32px;
    color: black;
    text-align: center;
    vertical-align:middle;
}

.top-down-line__box {
    
}

.under-dashed-line__box {

}